body { 
    background-color: #f7f7f7; 
    color: black;
    font-family: sans-serif, verdana;
}
button {
    color: black;
}
a, a:hover, a:visited, a:active {
  text-decoration: none !important;
}
.row {
	margin: 0;
}
.container-fluid {
    background: url('../img/header.png') center 0px no-repeat;
    height: 190px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
	background-size: auto 190px;
}
.row .logo {
	background: url('../img/logo-rt.png') center;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin: 5px auto;
    background-size: auto 45px;
}
.row p, .row h3 {
    color: white;
    margin-bottom: 0;
    width: 100%;
}
.row small {
  	color: black;
	margin: 0 30px;
}
.fa-star {
	color: gold;
	font-size: 30px;
}
.no-padding {
  padding: 0;
}

.global-nav-strip {
  font-weight: 400;
  background-color: #222222;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: no-wrap;
  -moz-box-lines: no-wrap;
  box-lines: no-wrap;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  height: 32px;
}

.global-nav-strip .nav-strip-links {
  margin-bottom: 0;
  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  box-flex: 7;
  -webkit-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  flex: 7;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

.global-nav-strip .nav-strip-links > li.active {
  background: #111111;
  color: white;
  cursor: default;
}

.global-nav-strip .nav-strip-links > li {
  cursor: pointer;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition-property: color, background-color, opacity;
  -moz-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: no-wrap;
  -moz-box-lines: no-wrap;
  box-lines: no-wrap;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
}

.global-nav-strip .nav-strip-links > li > a {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  padding: 5px;
  line-height: 1;
  color: #aaaaaa;
}

.global-nav-strip .nav-strip-links > li > a:visited {
  color: #aaaaaa;
}
.global-nav-strip .nav-strip-links > li:hover {
  background: #404040; 
}
.global-nav-strip .nav-strip-links > li.active > a {
  color: #efefef; 
}

/* Table style overrides */
.w2ui-tb-image>span, .w2ui-toolbar table.w2ui-button .w2ui-tb-caption {
  color: white !important;
}
.w2ui-tb-image>span:hover, .w2ui-toolbar table.w2ui-button .w2ui-tb-caption:hover {
  color: black !important;
}
.w2ui-grid-toolbar, .w2ui-grid-footer {
  color: white !important;
  background-color: #222 !important;
}
table.w2ui-button table, .w2ui-grid .w2ui-toolbar-search .w2ui-search-all {
  border-radius: 4px !important;
}
tr.w2ui-even, .w2ui-grid-body table .w2ui-head {
  background-color: #f7f7f7 !important;
  background-image: none !important;
}
.w2ui-grid-body table .w2ui-head {
  text-align: center !important;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns {
  box-shadow: none !important;
}
#main {
  width: 85%; 
  height: 600px; 
  margin: 50px auto;
  display: none;
}
.tn-image {
	width: 150px;
}
.wrap-content {
  overflow: auto !important; 
  white-space: normal !important;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#main {
	  width: 100%; 
	  margin: 50px auto;
	}
}


/* Loader */

.loader {
  margin: 300px auto;
  width: 25px;
  height: 25px;
  perspective: 1200;
}
.loader .text {
  width: 300px;
  text-align: center;
  font-weight: bold;
  margin: 20px -135px;
}
.loader .text p {
  color: black;
}

.flipper {
  position: relative;
  display: block;
  height: inherit;
  width: inherit;
  animation: flip 1.2s infinite ease-in-out;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: block;
  background-color: #9D1C21;
  height: 100%;
  width: 100%;
}

.back {
  background-color: #222;
  z-index: 800;
  transform: rotateY(-180deg);
}

@keyframes flip {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}